{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>投稿一覧</title>
    <!-- CSSファイルをリンク -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"></head>
<body>
    <h1>投稿一覧</h1>
    <a href="{% url "blog_app:index" %}" class="btn">ホーム</a>

    <ul>
        {% for post in object_list %}
        <li>
            <h2>{{ post.title }}</h2>
            <p>{{ post.memo }}</p>
            {% if post.image %}
            <img src="{{ post.image.url }}" alt="{{ post.title }}" width="300">
            <a href="{% url "formapp:delete" post.id %}">削除</a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    
    <a href="{% url 'formapp:create' %}"class="btn">新しい投稿を作成</a>
</body>
</html>
